---
BasedOnStyle: GNU
ColumnLimit: '80'
IndentWidth: '4'
UseTab: Never
QualifierAlignment: Right
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Stroustrup